<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/364428d876.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Welcome to ZG-Linketinder</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="head-title">
                <h2>ZG - Linketinder</h2>
            </div>

            <div class="view-page">
                    <label>
                        <div>Welcome, <span class="welcome"></span> </div> 
                    </label>

                    <div class="logout-button">
                        <a>Logout</a>  
                    </div>
            </div>           
        </div>
    </header>

    <main>

        <div class="manageskills">
            <div class="container">
                <fieldset>
                    <legend>Managing Skills</legend>
                    <div class="add-skills">
                        <div>
                            <fieldset>
                                <legend>Adding Skills</legend>
                                <select name="adding" id="add-skills-select" value="">
                                    <option value="select one" selected>Select One</option>
                                    <option value="java">Java</option>
                                    <option value="groovy">Groovy</option>
                                    <option value="html">HTML</option>
                                    <option value="css">CSS</option>
                                    <option value="javascript">Javascript</option>
                                    <option value="frontend">FrontEnd</option>
                                    <option value="backend">BackEnd</option>
                                    <option value="github">github</option>
                                    <option value="hibernate">Hibernate</option>
                                </select>
                                <div class="add-button">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                    <div class="remove-skills">
                        <fieldset>
                            <legend>Your Skills</legend>
                            <select name="your-skills" id="your-skills-select">
                                <option value="select one" selected>select one</option>
                            </select>

                            <div class="remove-button">
                                <i class="fa-solid fa-circle-minus"></i>
                            </div>
                        </fieldset>

                    </div>
                    

                </fieldset>

            </div>

        </div>
        <div class="container">
            <div class="view-window">

                <div class="swipe-left">

                    <i class="fa-solid fa-angle-left fa-4x"></i>
    
    
                </div>


                <div class="slot-view">
                    
                    <div class="slot">
                        
                    </div>

                    
                </div>

                <div class="swipe-right">

                    <i class="fa-solid fa-angle-right fa-4x"></i>
    
    
                </div>
                


                

            </div>

           
            

        </div>

    </main>

    <footer>
        <h6>Developed by Quartz - All Rights Reserved</h6> 
    </footer>

    <script src="../js/viewPage.js"></script>
</body>
</html>